# Gradle
*.iml
.gradle/
build/
**/build/

# Local configuration
local.properties

# IntelliJ / Android Studio
.idea/

# OS junk files
.DS_Store
Thumbs.db

# NDK / C++
.externalNativeBuild/
.cxx/

# Captures
captures/

